.main-page__button {
    width: 150px;
    height: 150px;
    background: orange;
    color: purple;
    border-radius: 15px;
}

.pug__round {
    width: 330px;
    height: 330px;
    background: yellow;
    border-radius: 50%;
}